tensorflow
matplotlib
torch
pandas
seaborn
opencv_python_headless
Flask
onnxruntime
easyocr
coremltools
torchvision
requests
psutil
numpy
scipy
tqdm
openvino
pytesseract
albumentations
export
ipython
keras_ocr
pafy
Pillow
PyYAML
tensorrt

